.container {
    position: relative;
    padding: 2em;
    background-color: #282D35;
    height: 77.5vh;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    background-image: url(../../logo.svg);
    background-repeat: no-repeat;
    filter: grayscale(100%);
    opacity: 0.2;
    transform: translateX(70%);
}

.main-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    z-index: 2;
}

.main-content-list {
   list-style:none;
   list-style-position: outside;
   width: 45%;
   z-index: 2;
}

.main-content-list-item {
    color: #fff;
}

.main-content-list-item::before {
    content: "\2022";
    color: #61DAFB;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}